<div class='form-group'>
  <label>{{localize 'link-item-resource-5e.resource-link'}}</label>
  <select name="flags.link-item-resource-5e.resource-link">
    <option value=""><em>No Override</em></option>
    {{selectOptions resourceOptions selected=currentValue}}
  </select>
</div>